SRRS.json
{
  "flowContents": {
    "identifier": "25381853-4149-327e-a2e7-9f45e2ae95a2",
    "instanceIdentifier": "104eef06-0195-1000-21c9-560345be2290",
    "name": "SRRS",
    "comments": "",
    "position": {
      "x": -24,
      "y": -176
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "ee759b19-6472-327a-b23e-36b2ccd3dcaf",
        "instanceIdentifier": "f18bee9d-1a20-39c5-767d-71ca2d0665d8",
        "name": "SplitContent",
        "comments": "",
        "position": {
          "x": -1376,
          "y": 248
        },
        "type": "org.apache.nifi.processors.standard.SplitContent",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Byte Sequence Location": "Leading",
          "Keep Byte Sequence": "false",
          "Byte Sequence Format": "Text",
          "Byte Sequence": "********SPLIT********\n"
        },
        "propertyDescriptors": {
          "Byte Sequence Location": {
            "name": "Byte Sequence Location",
            "displayName": "Byte Sequence Location",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Keep Byte Sequence": {
            "name": "Keep Byte Sequence",
            "displayName": "Keep Byte Sequence",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Byte Sequence Format": {
            "name": "Byte Sequence Format",
            "displayName": "Byte Sequence Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Byte Sequence": {
            "name": "Byte Sequence",
            "displayName": "Byte Sequence",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
        "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": -1384,
          "y": 648
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "HTTP URL": "http://ai:8000/collect_message_label",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "bd3d2915-0a68-3c17-8a71-db3daeb59735",
        "instanceIdentifier": "058e2667-c05a-362f-b76a-2713fee6e17c",
        "name": "ExecuteStreamCommand",
        "comments": "",
        "position": {
          "x": -1376,
          "y": 456
        },
        "type": "org.apache.nifi.processors.standard.ExecuteStreamCommand",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "argumentsStrategy": "Command Arguments Property",
          "Max Attribute Length": "256",
          "Output MIME Type": null,
          "Working Directory": null,
          "Command Path": "jq",
          "Output Destination Attribute": null,
          "Argument Delimiter": ";",
          "Ignore STDIN": "false",
          "Command Arguments": "-Rs;{ \"message\": . }"
        },
        "propertyDescriptors": {
          "argumentsStrategy": {
            "name": "argumentsStrategy",
            "displayName": "Command Arguments Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Attribute Length": {
            "name": "Max Attribute Length",
            "displayName": "Max Attribute Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output MIME Type": {
            "name": "Output MIME Type",
            "displayName": "Output MIME Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Working Directory": {
            "name": "Working Directory",
            "displayName": "Working Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Command Path": {
            "name": "Command Path",
            "displayName": "Command Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Destination Attribute": {
            "name": "Output Destination Attribute",
            "displayName": "Output Destination Attribute",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Argument Delimiter": {
            "name": "Argument Delimiter",
            "displayName": "Argument Delimiter",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Ignore STDIN": {
            "name": "Ignore STDIN",
            "displayName": "Ignore STDIN",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Command Arguments": {
            "name": "Command Arguments",
            "displayName": "Command Arguments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "nonzero status"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "106c94ed-fa85-3a12-90c7-cd376ec43f75",
        "instanceIdentifier": "0b29c374-1aa7-392a-c18f-d41412c848f5",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": -1872,
          "y": 672
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "f6cac70e-1f00-35e4-89be-760b9b9d3d46",
        "instanceIdentifier": "f31b847d-1541-330c-ae49-0d3b3b675401",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": -1368,
          "y": -320
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "mime-type": null,
          "generate-ff-custom-text": "1\n2\n3\n4\n5\n6\n7\n8\n9\n10",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "mime-type": {
            "name": "mime-type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 day",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "4ba40ba1-08f8-3311-92fd-d8921392731f",
        "instanceIdentifier": "679db7d3-bc34-3378-80d5-bd0e132e8a27",
        "name": "ControlRate",
        "comments": "",
        "position": {
          "x": -856,
          "y": 248
        },
        "type": "org.apache.nifi.processors.standard.ControlRate",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Rate Exceeded Strategy": "Hold FlowFile",
          "Maximum FlowFile Rate": null,
          "Time Duration": "1 min",
          "Grouping Attribute": null,
          "Maximum Rate": "10000",
          "Rate Controlled Attribute": null,
          "Rate Control Criteria": "flowfile count",
          "Maximum Data Rate": null
        },
        "propertyDescriptors": {
          "Rate Exceeded Strategy": {
            "name": "Rate Exceeded Strategy",
            "displayName": "Rate Exceeded Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum FlowFile Rate": {
            "name": "Maximum FlowFile Rate",
            "displayName": "Maximum FlowFile Rate",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Duration": {
            "name": "Time Duration",
            "displayName": "Time Duration",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Grouping Attribute": {
            "name": "Grouping Attribute",
            "displayName": "Grouping Attribute",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Rate": {
            "name": "Maximum Rate",
            "displayName": "Maximum Rate",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Rate Controlled Attribute": {
            "name": "Rate Controlled Attribute",
            "displayName": "Rate Controlled Attribute",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Rate Control Criteria": {
            "name": "Rate Control Criteria",
            "displayName": "Rate Control Criteria",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Data Rate": {
            "name": "Maximum Data Rate",
            "displayName": "Maximum Data Rate",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "0a4d4de4-0195-1000-62fa-689e57b6d6db",
        "instanceIdentifier": "aef57e7d-5130-3ca0-933e-ece8168469bc",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": -992,
          "y": -320
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "HTTP URL": "https://www.ncei.noaa.gov/data/service-records-retention-system/access/anx/2025/01/27/00/2025012700_SRRS0021.ANX",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "GET",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 day",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [
          "Retry"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "de923c8a-56cc-3cd8-9ca0-d5702a37db99",
        "instanceIdentifier": "706362f6-1b62-3f79-cc99-6ed61a36bcae",
        "name": "ReplaceText",
        "comments": "",
        "position": {
          "x": -1376,
          "y": 64
        },
        "type": "org.apache.nifi.processors.standard.ReplaceText",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Regular Expression": "(?s)(\\*{4}(\\d+)\\*{4})",
          "Replacement Value": "********SPLIT********\n$1",
          "Evaluation Mode": "Line-by-Line",
          "Text to Prepend": null,
          "Line-by-Line Evaluation Mode": "All",
          "Character Set": "UTF-8",
          "Maximum Buffer Size": "1 MB",
          "Replacement Strategy": "Regex Replace",
          "Text to Append": null
        },
        "propertyDescriptors": {
          "Regular Expression": {
            "name": "Regular Expression",
            "displayName": "Search Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Value": {
            "name": "Replacement Value",
            "displayName": "Replacement Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Evaluation Mode": {
            "name": "Evaluation Mode",
            "displayName": "Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Prepend": {
            "name": "Text to Prepend",
            "displayName": "Text to Prepend",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Line-by-Line Evaluation Mode": {
            "name": "Line-by-Line Evaluation Mode",
            "displayName": "Line-by-Line Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Buffer Size": {
            "name": "Maximum Buffer Size",
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Strategy": {
            "name": "Replacement Strategy",
            "displayName": "Replacement Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Append": {
            "name": "Text to Append",
            "displayName": "Text to Append",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "3a563383-984a-384a-9a31-1e032577ab02",
        "instanceIdentifier": "031cf4ca-507e-3cb9-8473-b354a54c02f7",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": -248,
          "y": -176
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "HTTP URL": "https://www.ncei.noaa.gov/data/service-records-retention-system/access/anx/2025/01/27/00/",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "false",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "GET",
          "Request Username": null,
          "Request Content-Type": "${mime.type}",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 day",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "Original"
        ],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [
          "Retry"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "8f41e99d-7e40-30d9-95d5-066fed188e0e",
        "instanceIdentifier": "44ba606c-b32f-371a-08f9-8f0c67f1ff5c",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": -1856,
          "y": 392
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "mime-type": null,
          "generate-ff-custom-text": "{ \"message\":\"1\\n2\\n3\\n4\\n10\"}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "mime-type": {
            "name": "mime-type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 day",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "b7865660-ae06-374e-9e97-6447cfffd111",
        "instanceIdentifier": "9ad4ccbd-27ac-385b-3ca3-9ff41b67dbd2",
        "name": "FetchFile",
        "comments": "",
        "position": {
          "x": -1368,
          "y": -120
        },
        "type": "org.apache.nifi.processors.standard.FetchFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Move Conflict Strategy": "Rename",
          "Log level when file not found": "ERROR",
          "Move Destination Directory": null,
          "Log level when permission denied": "ERROR",
          "File to Fetch": "/opt/nifi/nifi-current/app-data/2025012700_SRRS0021.ANX",
          "Completion Strategy": "None"
        },
        "propertyDescriptors": {
          "Move Conflict Strategy": {
            "name": "Move Conflict Strategy",
            "displayName": "Move Conflict Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log level when file not found": {
            "name": "Log level when file not found",
            "displayName": "Log level when file not found",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Move Destination Directory": {
            "name": "Move Destination Directory",
            "displayName": "Move Destination Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log level when permission denied": {
            "name": "Log level when permission denied",
            "displayName": "Log level when permission denied",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File to Fetch": {
            "name": "File to Fetch",
            "displayName": "File to Fetch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Completion Strategy": {
            "name": "Completion Strategy",
            "displayName": "Completion Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "permission.denied",
          "not.found"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "a1e4b9ce-f93b-31b0-bc92-6b2dd131b141",
        "instanceIdentifier": "033a7994-2b14-35a1-f848-f1f4013f89a2",
        "name": "ExtractText",
        "comments": "",
        "position": {
          "x": -256,
          "y": 0
        },
        "type": "org.apache.nifi.processors.standard.ExtractText",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.0.0"
        },
        "properties": {
          "Enable Unicode Predefined Character Classes": "false",
          "Permit Whitespace and Comments in Pattern": "false",
          "Enable Unicode-aware Case Folding": "false",
          "Enable named group support": "false",
          "Enable DOTALL Mode": "false",
          "Enable Unix Lines Mode": "false",
          "Maximum Buffer Size": "1 MB",
          "Enable Canonical Equivalence": "false",
          "Enable Case-insensitive Matching": "false",
          "td": "(?s)<td.*?>.*href=\"(.*?)\">.*</td>",
          "Enable Multiline Mode": "false",
          "Enable repeating capture group": "false",
          "Maximum Capture Group Length": "1024",
          "Enable Literal Parsing of the Pattern": "false",
          "Character Set": "UTF-8",
          "Include Capture Group 0": "true"
        },
        "propertyDescriptors": {
          "Enable Unicode Predefined Character Classes": {
            "name": "Enable Unicode Predefined Character Classes",
            "displayName": "Enable Unicode Predefined Character Classes",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Permit Whitespace and Comments in Pattern": {
            "name": "Permit Whitespace and Comments in Pattern",
            "displayName": "Permit Whitespace and Comments in Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable Unicode-aware Case Folding": {
            "name": "Enable Unicode-aware Case Folding",
            "displayName": "Enable Unicode-aware Case Folding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable named group support": {
            "name": "Enable named group support",
            "displayName": "Enable named group support",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable DOTALL Mode": {
            "name": "Enable DOTALL Mode",
            "displayName": "Enable DOTALL Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable Unix Lines Mode": {
            "name": "Enable Unix Lines Mode",
            "displayName": "Enable Unix Lines Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Buffer Size": {
            "name": "Maximum Buffer Size",
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable Canonical Equivalence": {
            "name": "Enable Canonical Equivalence",
            "displayName": "Enable Canonical Equivalence",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable Case-insensitive Matching": {
            "name": "Enable Case-insensitive Matching",
            "displayName": "Enable Case-insensitive Matching",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "td": {
            "name": "td",
            "displayName": "td",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Enable Multiline Mode": {
            "name": "Enable Multiline Mode",
            "displayName": "Enable Multiline Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable repeating capture group": {
            "name": "Enable repeating capture group",
            "displayName": "Enable repeating capture group",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Capture Group Length": {
            "name": "Maximum Capture Group Length",
            "displayName": "Maximum Capture Group Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Enable Literal Parsing of the Pattern": {
            "name": "Enable Literal Parsing of the Pattern",
            "displayName": "Enable Literal Parsing of the Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Include Capture Group 0": {
            "name": "Include Capture Group 0",
            "displayName": "Include Capture Group 0",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      }
    ],
    "inputPorts": [],
    "outputPorts": [
      {
        "identifier": "27ffb3f8-6721-3378-9f4e-b12bcc904770",
        "instanceIdentifier": "b0704cc0-3ec0-3b9e-7920-53162be30c7f",
        "name": "out2",
        "position": {
          "x": -1336,
          "y": 864
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "portFunction": "STANDARD",
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "7184c49e-7768-3a54-9886-94d01bc5d8f5",
        "instanceIdentifier": "05d30e1b-4dcf-3aa8-af4d-5713d3b78c3b",
        "name": "bad",
        "position": {
          "x": 400,
          "y": 8
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": true,
        "portFunction": "STANDARD",
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "c86e4aed-32e5-3c4f-ae95-f73ee8fa7268",
        "instanceIdentifier": "49dbd36f-f274-35f9-f99e-99195139b608",
        "name": "bad2",
        "position": {
          "x": -840,
          "y": 864
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": false,
        "portFunction": "STANDARD",
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "e8dae249-e6f9-3dff-b856-dc767c7af0ba",
        "instanceIdentifier": "6c652c0d-521e-34fd-ad7b-3c86fb56a364",
        "name": "out",
        "position": {
          "x": -192,
          "y": 216
        },
        "type": "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount": 1,
        "scheduledState": "ENABLED",
        "allowRemoteAccess": true,
        "portFunction": "STANDARD",
        "componentType": "OUTPUT_PORT",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      }
    ],
    "connections": [
      {
        "identifier": "d28ed0c0-bfa2-3aaf-b057-42ab31a1bd24",
        "instanceIdentifier": "8ad23e2f-ae36-3ae4-9b49-acb1917d86b9",
        "name": "",
        "source": {
          "id": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd"
        },
        "destination": {
          "id": "27ffb3f8-6721-3378-9f4e-b12bcc904770",
          "type": "OUTPUT_PORT",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "out2",
          "instanceIdentifier": "b0704cc0-3ec0-3b9e-7920-53162be30c7f"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "48eddfc2-6d04-3cfd-ab80-1885e8f5e1ea",
        "instanceIdentifier": "8ea85201-169b-3895-ed4d-ba7b09f571f3",
        "name": "",
        "source": {
          "id": "ee759b19-6472-327a-b23e-36b2ccd3dcaf",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "SplitContent",
          "comments": "",
          "instanceIdentifier": "f18bee9d-1a20-39c5-767d-71ca2d0665d8"
        },
        "destination": {
          "id": "4ba40ba1-08f8-3311-92fd-d8921392731f",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ControlRate",
          "comments": "",
          "instanceIdentifier": "679db7d3-bc34-3378-80d5-bd0e132e8a27"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "splits"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "72256592-1919-328e-8d7a-a4a3f59d0248",
        "instanceIdentifier": "20043313-5a4b-36b6-957e-3693d2b6fbec",
        "name": "",
        "source": {
          "id": "a1e4b9ce-f93b-31b0-bc92-6b2dd131b141",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExtractText",
          "comments": "",
          "instanceIdentifier": "033a7994-2b14-35a1-f848-f1f4013f89a2"
        },
        "destination": {
          "id": "e8dae249-e6f9-3dff-b856-dc767c7af0ba",
          "type": "OUTPUT_PORT",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "out",
          "instanceIdentifier": "6c652c0d-521e-34fd-ad7b-3c86fb56a364"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "b6aa3ac8-ab7a-3a40-a27c-f51446aeb9b9",
        "instanceIdentifier": "c5e01eb1-f8f9-30f0-2542-532512fe96a5",
        "name": "",
        "source": {
          "id": "f6cac70e-1f00-35e4-89be-760b9b9d3d46",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "f31b847d-1541-330c-ae49-0d3b3b675401"
        },
        "destination": {
          "id": "b7865660-ae06-374e-9e97-6447cfffd111",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "FetchFile",
          "comments": "",
          "instanceIdentifier": "9ad4ccbd-27ac-385b-3ca3-9ff41b67dbd2"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "9ebc0a13-ffbc-3583-b62f-e3ceb128d59b",
        "instanceIdentifier": "f5074e72-9f70-39b7-d1b6-a6935017eee4",
        "name": "",
        "source": {
          "id": "3a563383-984a-384a-9a31-1e032577ab02",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "031cf4ca-507e-3cb9-8473-b354a54c02f7"
        },
        "destination": {
          "id": "7184c49e-7768-3a54-9886-94d01bc5d8f5",
          "type": "OUTPUT_PORT",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "bad",
          "instanceIdentifier": "05d30e1b-4dcf-3aa8-af4d-5713d3b78c3b"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "No Retry",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "2909c983-6308-3876-b0d1-b5b1f8798b17",
        "instanceIdentifier": "215babfc-5da9-3b6d-2125-6739b695e795",
        "name": "",
        "source": {
          "id": "8f41e99d-7e40-30d9-95d5-066fed188e0e",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "44ba606c-b32f-371a-08f9-8f0c67f1ff5c"
        },
        "destination": {
          "id": "bd3d2915-0a68-3c17-8a71-db3daeb59735",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExecuteStreamCommand",
          "comments": "",
          "instanceIdentifier": "058e2667-c05a-362f-b76a-2713fee6e17c"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "84be0b6f-8c7c-3988-a356-a14039f2667f",
        "instanceIdentifier": "4b6f17de-84ab-34a2-080c-1957fe395ef0",
        "name": "",
        "source": {
          "id": "bd3d2915-0a68-3c17-8a71-db3daeb59735",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExecuteStreamCommand",
          "comments": "",
          "instanceIdentifier": "058e2667-c05a-362f-b76a-2713fee6e17c"
        },
        "destination": {
          "id": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "output stream"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "26db4919-dda1-3013-8dc8-a9ea34ac2394",
        "instanceIdentifier": "2772bb01-b2a5-3c17-0dda-0189900dbf1c",
        "name": "",
        "source": {
          "id": "3a563383-984a-384a-9a31-1e032577ab02",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "031cf4ca-507e-3cb9-8473-b354a54c02f7"
        },
        "destination": {
          "id": "3a563383-984a-384a-9a31-1e032577ab02",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "031cf4ca-507e-3cb9-8473-b354a54c02f7"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Retry"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": 221,
            "y": -137
          },
          {
            "x": 221,
            "y": -87
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "658288d5-f418-3c46-9b16-dea5910916f4",
        "instanceIdentifier": "2cd16060-a218-3b47-bde6-032d23086aee",
        "name": "",
        "source": {
          "id": "de923c8a-56cc-3cd8-9ca0-d5702a37db99",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "706362f6-1b62-3f79-cc99-6ed61a36bcae"
        },
        "destination": {
          "id": "ee759b19-6472-327a-b23e-36b2ccd3dcaf",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "SplitContent",
          "comments": "",
          "instanceIdentifier": "f18bee9d-1a20-39c5-767d-71ca2d0665d8"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "17bc2328-26e4-3844-b015-7179b20e11bb",
        "instanceIdentifier": "b51b2a67-4187-37a9-08e5-3ca74457f1dd",
        "name": "",
        "source": {
          "id": "b7865660-ae06-374e-9e97-6447cfffd111",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "FetchFile",
          "comments": "",
          "instanceIdentifier": "9ad4ccbd-27ac-385b-3ca3-9ff41b67dbd2"
        },
        "destination": {
          "id": "de923c8a-56cc-3cd8-9ca0-d5702a37db99",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "706362f6-1b62-3f79-cc99-6ed61a36bcae"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "66f6e3e8-89ae-3389-9004-96810232cb87",
        "instanceIdentifier": "5610222a-604a-371e-b08f-76a6d0e2fc35",
        "name": "",
        "source": {
          "id": "106c94ed-fa85-3a12-90c7-cd376ec43f75",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "0b29c374-1aa7-392a-c18f-d41412c848f5"
        },
        "destination": {
          "id": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": -1480,
            "y": 640
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "54319042-b958-323b-9d4c-17f2cbdf6215",
        "instanceIdentifier": "9eab7bfc-6762-38c9-7f58-dae5f6146d3d",
        "name": "",
        "source": {
          "id": "3a563383-984a-384a-9a31-1e032577ab02",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "031cf4ca-507e-3cb9-8473-b354a54c02f7"
        },
        "destination": {
          "id": "a1e4b9ce-f93b-31b0-bc92-6b2dd131b141",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExtractText",
          "comments": "",
          "instanceIdentifier": "033a7994-2b14-35a1-f848-f1f4013f89a2"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "58e7920d-d203-34a3-82e9-359a83c0388b",
        "instanceIdentifier": "ee417130-d25b-3055-9da3-cdba81d193c7",
        "name": "",
        "source": {
          "id": "4ba40ba1-08f8-3311-92fd-d8921392731f",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ControlRate",
          "comments": "",
          "instanceIdentifier": "679db7d3-bc34-3378-80d5-bd0e132e8a27"
        },
        "destination": {
          "id": "bd3d2915-0a68-3c17-8a71-db3daeb59735",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExecuteStreamCommand",
          "comments": "",
          "instanceIdentifier": "058e2667-c05a-362f-b76a-2713fee6e17c"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "44a4c779-9b0a-3808-bd19-a05dd5f14b04",
        "instanceIdentifier": "ff1413ff-8ce8-3f3a-477b-09ef97a245b3",
        "name": "",
        "source": {
          "id": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd"
        },
        "destination": {
          "id": "c86e4aed-32e5-3c4f-ae95-f73ee8fa7268",
          "type": "OUTPUT_PORT",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "bad2",
          "instanceIdentifier": "49dbd36f-f274-35f9-f99e-99195139b608"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "No Retry",
          "Retry",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "257b1ff7-505d-3654-b21b-071733f3d107",
        "instanceIdentifier": "bed3b0fa-6bf2-321c-f7e4-413bf6a68121",
        "name": "",
        "source": {
          "id": "a1e4b9ce-f93b-31b0-bc92-6b2dd131b141",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "ExtractText",
          "comments": "",
          "instanceIdentifier": "033a7994-2b14-35a1-f848-f1f4013f89a2"
        },
        "destination": {
          "id": "7184c49e-7768-3a54-9886-94d01bc5d8f5",
          "type": "OUTPUT_PORT",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "bad",
          "instanceIdentifier": "05d30e1b-4dcf-3aa8-af4d-5713d3b78c3b"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      },
      {
        "identifier": "2dea7df1-c6b2-3ec2-8451-c8f1bf38e2da",
        "instanceIdentifier": "61b4c06b-0e4c-302b-82be-7adf443fe84e",
        "name": "",
        "source": {
          "id": "5cb345c3-1108-38b8-a9fd-cf2baf419cb5",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "14d58d2b-051e-32ce-ed80-aa8587213afd"
        },
        "destination": {
          "id": "106c94ed-fa85-3a12-90c7-cd376ec43f75",
          "type": "PROCESSOR",
          "groupId": "25381853-4149-327e-a2e7-9f45e2ae95a2",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "0b29c374-1aa7-392a-c18f-d41412c848f5"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "Original"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "25381853-4149-327e-a2e7-9f45e2ae95a2"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
